<!DOCTYPE html>
<!-- Screen to show the latest update in the selected game -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Autorefresh every 30 seconds -->
    <meta http-equiv="refresh" content="30"> 
    
    <title>Follow Scorey</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes designed by 365bootstrap.com" />
	
	 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	
	<!-- Custom Theme files -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
	<link href="css/contact-buttons.css" rel="stylesheet">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="js/jquery.min.js"></script>

	<!---pop-up-box---->
	<script type="text/javascript" src="js/modernizr.custom.min.js"></script>    
	<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!---//pop-up-box---->

	<!---//Emojis ---->    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/emoji.css" rel="stylesheet">
    
    <style>
        
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        h2 {
            font-family: "Arial";
            font-size: 1em; /* 30px/16=1.875em */;
            color: blueviolet;
        }

        h3 {
            font-family: "Arial";
            font-size: 1em; /* 30px/16=1.875em */;
            color: blueviolet;
        }
        
        p.welcome {
            font-family: "Arial";
            font-size: 2em;
            color: green;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            border: 0px;
        }

        th {
            border: 1px solid black;
            text-align: left;
            padding: 15px;
        }

        .textbox {
            width: 400px;
            padding: 15px 25px;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #9D9E9E;
            text-shadow: 1px 1px 0 #FFF;
            background: #FFF;
            border: 1px solid #FFF;
            border-radius: 5px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
            -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
            -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
        }
          .textbox:focus {
            background: #DFE9EC;
            color: #414848;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            outline: 0;
        }
          .textbox:hover {
            background: #DFE9EC;
            color: #414848;
        }

        div.scorey {
            width: 100%;
            height: 25vh;
            overflow-y: scroll;
        }

        td.scorey {
            border: 0px;
            width: 100%;
            vertical-align: center;
            text-align: left;
        }

        p.scorey {
            padding-left: 1.0em;
            padding-top: 0.0em;
            font-size:12px;
            color: #800080;
        }

        p.scoreyuser {
            padding-left: 1.0em;
            padding-top: 0.0em;
            font-size:10px;
            color: #C0C0C0;
        }
        
        div.chatter {
            width: 100%;
            height: 40vh;
            overflow-y: scroll;
        }

        td.chatter {
            border: 0px;
            width: 100%;
            vertical-align: center;
            text-align: left;
        }

        p.chatter {
            padding-left: 1.0em;
            padding-top: 0.0em;
            font-size:12px;
            color: #000000;
        }

        p.chatteruser {
            padding-left: 1.0em;
            padding-top: 0.0em;
            font-size:10px;
            color: #C0C0C0;
        }
        
        .navbar-text {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            margin: auto;
            padding-top: 10px;
            color: #fff; 
        }
        
        .btn {background: #DA251D;}
        .btn:hover {color:#333;border:1px solid #DA251D;background:transparent;}
    
        .box-content-close {padding: 0px 0 0 0;}
        .box-content-far {padding: 60px 0 0 0;}
        .box-content-share {padding: 5px 0 0 0;}

        .no-bottom-margin {margin-bottom: 2px !important;}
        .no-padding {padding: 0;}

        .btn-5 {color: #fff;border: 1px solid #fff;margin-right: 15px; line-height: 18px;}
        
    </style>

</head>
<body>

<!-- /////////////////////////////////////////Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="javascript: window.location.assign('/index')">
                <img src="images/logo2.png" class="hidden-xs" alt="">
                <h3 class="visible-xs">Scorey</h3>
            </a>
            <p class="navbar-text" style="color:powderblue;"><%= game_data.forteam %> vs. <%= game_data.againstteam %> &nbsp;&nbsp;at <%= game_data.venue %></p>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="javascript: window.location.assign('/index')">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="javascript: window.location.assign('/index#about_scorey')">About Scorey</a>
                </li>
                <li>
                    <a class="page-scroll" href="javascript: window.location.assign('/start')">Start Scorey</a>
                </li>
                <li>
                    <a class="page-scroll" href="javascript: window.location.assign('/update')">Update Scorey</a>
                </li>
                <li>
                    <a class="page-scroll" href="javascript: window.location.assign('/follow')">Follow Scorey</a>
                </li>
                <li>
                    <a class="page-scroll" href="javascript: window.location.assign('/contact')">Contact Us</a>
                </li> 
            </ul>
        </div>
    </div>
</nav> 

<!-- SHOW SCOREY - GAME UPDATES -->
<section class="box-content box-content-far box-1" id="start_scorey">
    <div class="container">
        <form name="formStart_scorey" method="POST" action="">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group no-bottom-margin">
                        <div class="scorey well no-bottom-margin" id="divscorey">
                            <table>
                            <tr valign="top">
                                <td class="scorey">
                                    <% for(var i=0; i<game_data.scorelog.length; i++) {%>
                                    <p class="scorey"><%= game_data.scorelog[i].score %></p>
                                    <% } %>
                                </td>
                                <td class="scorey">
                                    <% for(var i=0; i<game_data.scorelog.length; i++) {%>
                                    <p class="scoreyuser"><i>~<%= game_data.scorelog[i].updatedby %></i></p>
                                    <% } %>
                                </td>
                                
                            </tr>
                            </table>
                        </div>
                    </div>						
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="score_update" id="score_update" placeholder="Score here..." required="required" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-5 btn-block" name="btnPost_scorey" id="btnPost_scorey">
                        share ></button>
                    </div>
                </div>                        
            </div>
            <input type="hidden" name="forteam" value="<%= game_data.forteam %>"/>
            <input type="hidden" name="againstteam" value="<%= game_data.againstteam %>"/>
            <input type="hidden" name="venue" value="<%= game_data.venue %>"/>
            <input type="hidden" name="date" value="<%= game_data.date %>"/>
            <input type="hidden" name="startedby" value="<%= game_data.startedby %>"/>
            
        </form>
    </div>
</section>     

<!-- SHOW SCOREY - CHATTER -->
<section class="box-content box-content-close box-1" id="start_chatter">
    <div class="container">
        <form name="formStart_chatter" method="POST" action="/updatefollowchatter">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group no-bottom-margin">
                        <div class="chatter well no-bottom-margin" id="divchatter">
                            <table>
                            <tr valign="top">
                                <td class="chatter">
                                    <% for(var i=0; i<game_data.chatterlog.length; i++) {%>
                                    <p class="chatter"><%= game_data.chatterlog[i].chatter %></p>
                                    <% } %>
                                </td>
                                <td class="chatter">
                                    <% for(var i=0; i<game_data.chatterlog.length; i++) {%>
                                    <p class="chatteruser"><i>~<%= game_data.chatterlog[i].updatedby %></i></p>
                                    <% } %>
                                </td>
                            </tr>
                            </table>
                        </div>
                    </div>						
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 no-bottom-margin">
                    <div class="form-group no-bottom-margin">
                        <input type="text" class="form-control" name="chatter_update" id="chatter_update" placeholder="Cheer here..." required="required"  data-emojiable="true"/>
                    </div>
                </div>
                <div class="col-xs-3 no-bottom-margin">
                    <div class="form-group no-bottom-margin">
                        <button type="submit" class="btn btn-5 btn-block" name="btnPost_chatter" id="btnPost_chatter">
                        chat ></button>
                    </div>
                </div>                        
            </div>
            <input type="hidden" name="forteam" value="<%= game_data.forteam %>"/>
            <input type="hidden" name="againstteam" value="<%= game_data.againstteam %>"/>
            <input type="hidden" name="venue" value="<%= game_data.venue %>"/>
            <input type="hidden" name="date" value="<%= game_data.date %>"/>
            <input type="hidden" name="startedby" value="<%= game_data.startedby %>"/>
            
        </form>
    </div>
</section>  

<!-- SHARING MEDIUMS -->
<section class="box-content-share box-1" id="start_sharing">
    <div class="container">
        <div class="row no-padding no-bottom-margin">
            <div class="row center no-padding no-bottom-margin">
                <div class="col-md-6 no-padding no-bottom-margin">
                    <ul class="list-inline social-buttons">
                        <li><a href="http://twitter.com/share?url=http%3A%2F%2Fscorey.herokuapp.com&text=Follow%20our%20scorey%20here%3A%20http%3A%2F%2Fscorey.herokuapp.comvia=sud_hakar"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fscorey.herokuapp.com"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="mailto:?subject=Follow%20our%20scorey&body=Follow%20our%20scorey%20here%3A%20http%3A%2F%2Fscorey.herokuapp.com"><i class="fa fa-mail-forward"></i></a>
                        </li>
                        <li><a href="whatsapp://send?text=Follow%20our%20scorey%20here%3A%20http%3A%2F%2Fscorey.herokuapp.com"><i class="fa fa-whatsapp"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>    

<!-- Footer -->

<!-- Core JavaScript Files -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.backTop.min.js"></script>
<script>
    $(document).ready( function() {
        $('#backTop').backTop({
            'position' : 1200,
            'speed' : 500,
            'color' : 'red',
        });
    });

var objScoreyDiv = document.getElementById("divscorey");
var objChatterDiv = document.getElementById("divchatter");    
objScoreyDiv.scrollTop = objScoreyDiv.scrollHeight;
objChatterDiv.scrollTop = objChatterDiv.scrollHeight;    

document.getElementById('score_update').disabled = true;
document.getElementById('btnPost_scorey').disabled = true;    
    

$(function() {
// Initializes and creates emoji set from sprite sheet
window.emojiPicker = new EmojiPicker({
  emojiable_selector: '[data-emojiable=true]',
  assetsPath: 'images/',
  popupButtonClasses: 'fa fa-smile-o'
});
// Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
// You may want to delay this step if you have dynamically created input fields that appear later in the loading process
// It can be called as many times as necessary; previously converted input fields will not be converted again
window.emojiPicker.discover();
});

window.addEventListener("load",function() {
	// Set a timeout...
	setTimeout(function(){
		// Hide the address bar!
		window.scrollTo(0, 1);
	}, 100);
});

//window.setTimeout(function(){window.location.href=window.location.href},5000);
    
</script>  

<script src="js/config.js"></script>
<script src="js/util.js"></script>
<script src="js/jquery.emojiarea.js"></script>
<script src="js/emoji-picker.js"></script>
    
</body>
</html>