<!DOCTYPE html>
<!-- Screen to show the latest update in the selected game -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Follow Scorey</title>

    <style>
        
      .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        h2 {
            font-family: "Arial";
            font-size: 1em; /* 30px/16=1.875em */;
            color: blueviolet;
        }

        h3 {
            font-family: "Arial";
            font-size: 1em; /* 30px/16=1.875em */;
            color: blueviolet;
        }
        
        p.welcome {
            font-family: "Arial";
            font-size: 2em;
            color: green;
        }

        body {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 30%;
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
            text-align: left;
            padding: 15px;
        }

        td {
            border: 1px solid black;
            width: 15%;
            height: 40px;
            vertical-align: center;
            text-align: center;
        }

    </style>

</head>
<body>

<p class="welcome"> Here's the latest from your game.. </p>
<br><br>

<div>
<table>
    <tr>
        <td>Your team: </td>
        <td><b><%= game_data.team_name %></b></td></tr>
    <tr>
        <td>Opposition: </td>
        <td><b><%= game_data.opposition_name %></b></td></tr>
    <tr>
        <td>At: </td>
        <td><b><%= game_data.venue %></b></td></tr>
</table>
</div>
<br><br>    

<div align="center">
<table style="width:800px">
    <tr>
        <td style="text-align:left">The scorey so far: </td></tr>
    <tr valign="top">
        <td style="text-align:left; height: 400px;">
            <% for(var i=0; i<game_data.scoreylog.scorey.length; i++) {%>
            <%= game_data.scoreylog.scorey[i] %><br>
            <i><%= game_data.scoreylog.timestamp[i] %></i>
            <br><br>
            <% } %>
        </td></tr>
</table>
    
</body>
</html>