<!DOCTYPE html>
<!-- Screen to show the latest update in the selected game -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Scorey</title>

    <style>
        
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        h2 {
            font-family: "Arial";
            font-size: 1em; /* 30px/16=1.875em */;
            color: blueviolet;
        }

        h3 {
            font-family: "Arial";
            font-size: 1em; /* 30px/16=1.875em */;
            color: blueviolet;
        }
        
        p.welcome {
            font-family: "Arial";
            font-size: 2em;
            color: green;
        }

        body {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 30%;
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
            text-align: left;
            padding: 15px;
        }

        td {
            border: 1px solid black;
            width: 15%;
            height: 40px;
            vertical-align: center;
            text-align: center;
        }

        .textbox {
            width: 400px;
            padding: 15px 25px;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #9D9E9E;
            text-shadow: 1px 1px 0 #FFF;
            background: #FFF;
            border: 1px solid #FFF;
            border-radius: 5px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
            -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
            -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
        }
          .textbox:focus {
            background: #DFE9EC;
            color: #414848;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
            outline: 0;
        }
          .textbox:hover {
            background: #DFE9EC;
            color: #414848;
        }

        div.scorey {
            border: 1px black;
            width: 550px;
            height: 250px;
            overflow-y: scroll;
        }
    </style>

</head>
<body>

<p class="welcome"> Let's start sharing updates on your game.. </p><br>

<div>
<table>
    <tr>
        <td>Your team: </td>
        <td><b><%= game_data.team_name %></b></td></tr>
    <tr>
        <td>Opposition: </td>
        <td><b><%= game_data.opposition_name %></b></td></tr>
    <tr>
        <td>At: </td>
        <td><b><%= game_data.venue %></b></td></tr>
</table>
</div>
<br><br>    

<div align="center">
<table style="width:800px">
    <tr>
        <td style="text-align:left">The scorey so far: </td></tr>
    <tr valign="top">
        <td style="text-align:left; height: 400px;">
                <% for(var i=0; i<game_data.scoreylog.scorey.length; i++) {%>
                <%= game_data.scoreylog.scorey[i] %>
                <span style="color:grey"><i>
                    <%= game_data.scoreylog.timestamp[i] %></i></span>
                <br><br>
                <% } %>
        </td></tr>
</table>
<form action="/updatescorey" method="POST">
    <input type="text" class="textbox" placeholder="what's happening now.." name="scorey_update">

    <input type="hidden" name="team_name" value="<%= game_data.team_name %>"/>
    <input type="hidden" name="opposition_name" value="<%= game_data.opposition_name %>"/>
    <input type="hidden" name="venue" value="<%= game_data.venue %>"/>
    <input type="hidden" name="date" value="<%= game_data.date %>"/>    
    
    <button type="submit" class="button">Shoot!</button>
</form>
</div>    
    
</body>
</html>