<!DOCTYPE html>
<!-- Screen to update a scorey -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Scorey</title>

    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        h2 {
            font-family: "Arial";
            font-size: 1em; /* 30px/16=1.875em */;
            color: blueviolet;
        }

        p.welcome {
            font-family: "Arial";
            font-size: 2em;
            color: green;
        }

        body {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 50%;
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
            text-align: left;
            padding: 15px;
        }

        td {
            border: 1px solid black;
            height: 50px;
            vertical-align: center;
            text-align: center;
        }

    </style>

</head>
<body>

<p class="welcome"> Welcome to Scorey! </p>
<br><br>

<div>
    <h2>Select a game to update</h2>
</div>
<br><br>

<form action="/updatescorey" method="POST">
<div align="center">
    <table>
        <tr>
            <td><b>Select</b></td>
            <td><b>Team 1</b></td>
            <td><b>Team 2</b></td>
            <td><b>Venue</b></td>
            <td><b>Date</b></td>
            <td><b>Started By</b></td>            
        </tr>
        <% for(var i=0; i<live_games.length; i++) {%>
        <tr>
            <td><input type="radio" id= "game<%= i %>" name= "game" value="<%= i %>" onclick = "gameSelected(<%= i %>)"></td>
            <td><%= live_games[i].forteam %></td><input type="hidden" id="forteam<%= i %>" value="<%= live_games[i].forteam %>"/>
            <td><%= live_games[i].againstteam %></td><input type="hidden" id="againstteam<%= i %>" value="<%= live_games[i].againstteam %>"/>
            <td><%= live_games[i].venue %></td><input type="hidden" id="venue<%= i %>" value="<%= live_games[i].venue %>"/>
            <td><%= live_games[i].date %></td><input type="hidden" id="date<%= i %>" value="<%= live_games[i].date %>"/>
            <td><%= live_games[i].startedby %></td><input type="hidden" id="startedby<%= i %>" value="<%= live_games[i].startedby %>"/>            
        </tr>
        <% } %>
    </table>
</div>
<br>
    <input type="hidden" name="forteam" id= "forteam" value=""/>
    <input type="hidden" name="againstteam" id= "againstteam" value=""/>
    <input type="hidden" name="venue" id= "venue" value=""/>
    <input type="hidden" name="date" id= "date" value=""/>
    <input type="text" name="user_name" value="Bhogle or Shashtri?">    
    <button type="submit" class= "button">Submit</button>
</form>

<script src="main.js"> </script>
    
</body>
</html>